<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ey.topic.ai.mapper.AiRecordMapper">

    <select id="countAiFrequency" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT SUM(count)
        FROM ai_record
        <where>
            <if test="date != null and date != ''">
                ai_time = #{date}
            </if>
        </where>
    </select>

    <select id="countAiDay7" resultType="com.ey.model.vo.topic.TopicDataVo">
        SELECT DATE(ai_time) AS date,
               COALESCE(SUM(count), 0) AS count
        FROM ai_record
        WHERE ai_time BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(ai_time)
        ORDER BY DATE(ai_time)
    </select>
</mapper>